
[V200R003C00]
#
 sysname ISP-router
#
 snmp-agent local-engineid 800007DB03000000000000
 snmp-agent 
#
 clock timezone China-Standard-Time minus 08:00:00
#
portal local-server load portalpage.zip
#
 drop illegal-mac alarm
#
 set cpu-usage threshold 80 restore 75
#
ip pool pool1
 gateway-list 1.1.1.254 
 network 1.1.1.0 mask 255.255.255.0 
#
aaa 
 authentication-scheme default
 authentication-scheme system-a
 authorization-scheme default
 authorization-scheme system-a
 accounting-scheme default
 domain default 
 domain default_admin 
 domain system  
  authentication-scheme system-a
  authorization-scheme system-a
 local-user user password cipher %$%$/>k_#dFFoTTril.^-`Q3A9R-%$%$
 local-user user service-type ppp
 local-user admin password cipher %$%$K8m.Nt84DZ}e#<0`8bmE3Uw}%$%$
 local-user admin service-type http
#
firewall zone Local
 priority 15
#
interface Virtual-Template1
 ppp authentication-mode pap domain system
 remote address pool pool1
 ppp ipcp dns 9.9.9.9
 ip address 1.1.1.254 255.255.255.0 
#
interface GigabitEthernet0/0/0
#
interface GigabitEthernet0/0/1
 pppoe-server bind Virtual-Template 1
#
interface GigabitEthernet0/0/2
#
interface NULL0
#
user-interface con 0
 authentication-mode password
user-interface vty 0 4
user-interface vty 16 20
#
wlan ac
#
return